USE [master]
GO
/****** Object:  Database [ShopLaptop]    Script Date: 10/15/2025 06:22:25 PM ******/
CREATE DATABASE [ShopLaptop]
 
GO
USE [ShopLaptop]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[ngaysinh] [datetime] NULL,
	[profile] [nvarchar](max) NULL,
	[avatar] [varchar](70) NULL,
	[hoten] [nvarchar](50) NULL,
	[diachi] [nvarchar](200) NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BinhLuan]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BinhLuan](
	[mabinhluan] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[noidung] [ntext] NULL,
	[vote] [int] NULL,
	[ngaybinhluan] [datetime] NULL,
	[matin] [int] NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_BinhLuan] PRIMARY KEY CLUSTERED 
(
	[mabinhluan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[madon] [int] NOT NULL,
	[malaptop] [int] NOT NULL,
	[soluong] [int] NULL,
	[dongia] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ChiTietDonHang] PRIMARY KEY CLUSTERED 
(
	[madon] ASC,
	[malaptop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[machude] [int] IDENTITY(1,1) NOT NULL,
	[tenchude] [nvarchar](60) NULL,
	[slug] [varchar](70) NULL,
	[hinh] [varchar](70) NULL,
 CONSTRAINT [PK_ChuDe] PRIMARY KEY CLUSTERED 
(
	[machude] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhGia]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhGia](
	[madanhgia] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NULL,
	[noidung] [ntext] NULL,
	[vote] [int] NULL,
	[ngaydanhgia] [datetime] NULL,
	[malaptop] [int] NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_DanhGia] PRIMARY KEY CLUSTERED 
(
	[madanhgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[madon] [int] IDENTITY(1,1) NOT NULL,
	[thanhtoan] [bit] NULL,
	[giaohang] [bit] NULL,
	[ngaydat] [datetime] NULL,
	[ngaygiao] [datetime] NULL,
	[makh] [nvarchar](128) NULL,
	[tinhtrang] [char](1) NULL,
 CONSTRAINT [PK_DonHang] PRIMARY KEY CLUSTERED 
(
	[madon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hang]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hang](
	[mahang] [int] IDENTITY(1,1) NOT NULL,
	[tenhang] [nvarchar](30) NOT NULL,
	[hinh] [varchar](70) NULL,
 CONSTRAINT [PK_Hang] PRIMARY KEY CLUSTERED 
(
	[mahang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laptop]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptop](
	[malaptop] [int] IDENTITY(1,1) NOT NULL,
	[tenlaptop] [nvarchar](100) NOT NULL,
	[giaban] [decimal](18, 0) NULL,
	[mota] [ntext] NULL,
	[hinh] [varchar](70) NULL,
	[mahang] [int] NULL,
	[manhucau] [int] NULL,
	[cpu] [nvarchar](100) NULL,
	[gpu] [nvarchar](100) NULL,
	[ram] [nvarchar](100) NULL,
	[hardware] [nvarchar](100) NULL,
	[manhinh] [nvarchar](100) NULL,
	[ngaycapnhat] [datetime] NULL,
	[soluongton] [int] NULL,
	[pin] [nvarchar](100) NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_Laptop] PRIMARY KEY CLUSTERED 
(
	[malaptop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[malienhe] [int] IDENTITY(1,1) NOT NULL,
	[hoten] [nvarchar](50) NOT NULL,
	[email] [varchar](254) NULL,
	[dienthoai] [varchar](50) NULL,
	[website] [nvarchar](100) NULL,
	[noidung] [ntext] NULL,
	[trangthai] [bit] NULL,
 CONSTRAINT [PK_LienHe] PRIMARY KEY CLUSTERED 
(
	[malienhe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MetaLaptop]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MetaLaptop](
	[mameta] [int] IDENTITY(1,1) NOT NULL,
	[keymeta] [nvarchar](255) NULL,
	[valuemeta] [nvarchar](255) NULL,
	[malaptop] [int] NULL,
 CONSTRAINT [PK_MetaLaptop] PRIMARY KEY CLUSTERED 
(
	[mameta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhuCau]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhuCau](
	[manhucau] [int] IDENTITY(1,1) NOT NULL,
	[tennhucau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhuCau] PRIMARY KEY CLUSTERED 
(
	[manhucau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuangCao]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuangCao](
	[maqc] [int] IDENTITY(1,1) NOT NULL,
	[tenqc] [nvarchar](255) NOT NULL,
	[tencongty] [nvarchar](200) NOT NULL,
	[hinhnen] [varchar](100) NULL,
	[link] [varchar](100) NULL,
	[ngaybatdau] [smalldatetime] NULL,
	[ngayhethan] [smalldatetime] NULL,
	[trangthai] [bit] NOT NULL,
 CONSTRAINT [PK_QuangCao] PRIMARY KEY CLUSTERED 
(
	[maqc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TinTuc]    Script Date: 10/15/2025 06:22:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TinTuc](
	[matin] [int] IDENTITY(1,1) NOT NULL,
	[tieude] [nvarchar](255) NOT NULL,
	[hinhnen] [varchar](70) NULL,
	[tomtat] [nvarchar](255) NULL,
	[slug] [nvarchar](100) NOT NULL,
	[noidung] [ntext] NULL,
	[luotxem] [int] NULL,
	[ngaycapnhat] [smalldatetime] NULL,
	[xuatban] [bit] NULL,
	[machude] [int] NULL,
 CONSTRAINT [PK_TinTuc] PRIMARY KEY CLUSTERED 
(
	[matin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'ADMIN')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'2', N'STAFF')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5a36cd4f-e8cf-490f-b44d-ecc1b092fd93', N'1')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ngaysinh], [profile], [avatar], [hoten], [diachi]) VALUES (N'1596c90a-8449-46f0-a5c7-5f3cff269eba', N'user2@gmail.com', 0, N'AMb8uc/xHNq5l4nKjBFZ9tIRFOJsbug4XpBzNXXVEBBAdfXCgia+1BRPfEeAfD3qIQ==', N'be311723-aad0-4aa3-aab7-bcf159501ca1', NULL, 0, 0, NULL, 1, 0, N'user2@gmail.com', NULL, NULL, NULL, N'user', N'hcm')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ngaysinh], [profile], [avatar], [hoten], [diachi]) VALUES (N'214f7bc2-4189-43c0-a524-40ca712135f3', N'user1@gmail.com', 0, N'AGmc4WQxq6oA5klMAa23IhVDUq8oKZgMvM/aTXRXlDMHnYSXhUZbPhZCsviXucjLew==', N'b4cc6d0a-bc77-4d91-8aaf-696c8f6af056', NULL, 0, 0, NULL, 1, 0, N'user1@gmail.com', NULL, NULL, NULL, N'ưhqwoidwqio', N'ưqidowqd')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [ngaysinh], [profile], [avatar], [hoten], [diachi]) VALUES (N'5a36cd4f-e8cf-490f-b44d-ecc1b092fd93', N'admin1@admin.com', 0, N'AMb8uc/xHNq5l4nKjBFZ9tIRFOJsbug4XpBzNXXVEBBAdfXCgia+1BRPfEeAfD3qIQ==', N'ebd38b56-f039-4a7f-88a5-522533a4a91f', NULL, 0, 0, NULL, 1, 0, N'admin1@admin.com', NULL, NULL, NULL, N'Phạm Công Dũng', N'322 ewfjewnf')
GO
SET IDENTITY_INSERT [dbo].[BinhLuan] ON 

INSERT [dbo].[BinhLuan] ([mabinhluan], [ten], [noidung], [vote], [ngaybinhluan], [matin], [trangthai]) VALUES (1, N'Admin', N'Test', 5, CAST(N'2022-05-29T00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[BinhLuan] OFF
GO
INSERT [dbo].[ChiTietDonHang] ([madon], [malaptop], [soluong], [dongia]) VALUES (47, 1, 1, CAST(14490000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([madon], [malaptop], [soluong], [dongia]) VALUES (48, 12, 2, CAST(84990000 AS Decimal(18, 0)))
INSERT [dbo].[ChiTietDonHang] ([madon], [malaptop], [soluong], [dongia]) VALUES (49, 1, 1, CAST(14490000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[ChuDe] ON 

INSERT [dbo].[ChuDe] ([machude], [tenchude], [slug], [hinh]) VALUES (1, N'Laptop', N'laptop', NULL)
INSERT [dbo].[ChuDe] ([machude], [tenchude], [slug], [hinh]) VALUES (2, N'Điện thoại', N'dien-thoai', NULL)
INSERT [dbo].[ChuDe] ([machude], [tenchude], [slug], [hinh]) VALUES (3, N'Windows', N'windows', NULL)
SET IDENTITY_INSERT [dbo].[ChuDe] OFF
GO
SET IDENTITY_INSERT [dbo].[DanhGia] ON 

INSERT [dbo].[DanhGia] ([madanhgia], [ten], [noidung], [vote], [ngaydanhgia], [malaptop], [trangthai]) VALUES (1, N'Bot Comment', N'Qúy khách cần liên hệ theo số đt sau: 0365204529', 3, CAST(N'2022-04-17T00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[DanhGia] ([madanhgia], [ten], [noidung], [vote], [ngaydanhgia], [malaptop], [trangthai]) VALUES (2, N'Admin', N'Chúc quý khách vạn sự bình an', 3, CAST(N'2022-04-17T13:15:00.000' AS DateTime), 1, 1)
INSERT [dbo].[DanhGia] ([madanhgia], [ten], [noidung], [vote], [ngaydanhgia], [malaptop], [trangthai]) VALUES (3, N'Nguyễn Văn B', N'Sản phẩm tốt', 3, CAST(N'2022-04-25T14:25:24.063' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[DanhGia] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([madon], [thanhtoan], [giaohang], [ngaydat], [ngaygiao], [makh], [tinhtrang]) VALUES (47, 0, NULL, CAST(N'2025-07-17T15:57:39.393' AS DateTime), CAST(N'2025-09-17T11:59:56.433' AS DateTime), N'214f7bc2-4189-43c0-a524-40ca712135f3', N'1')
INSERT [dbo].[DonHang] ([madon], [thanhtoan], [giaohang], [ngaydat], [ngaygiao], [makh], [tinhtrang]) VALUES (48, 0, NULL, CAST(N'2025-07-17T00:00:00.000' AS DateTime), CAST(N'2025-09-17T00:00:00.000' AS DateTime), N'b11eb9ca-f41f-4b9b-b73e-b37d26e84cc0', N'0')
INSERT [dbo].[DonHang] ([madon], [thanhtoan], [giaohang], [ngaydat], [ngaygiao], [makh], [tinhtrang]) VALUES (49, 1, 1, CAST(N'2025-07-17T00:00:00.000' AS DateTime), CAST(N'2025-09-17T00:00:00.000' AS DateTime), N'b11eb9ca-f41f-4b9b-b73e-b37d26e84cc0', N'0')
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Hang] ON 

INSERT [dbo].[Hang] ([mahang], [tenhang], [hinh]) VALUES (1, N'HP', N'hp.png')
INSERT [dbo].[Hang] ([mahang], [tenhang], [hinh]) VALUES (2, N'DELL', N'dell.png')
INSERT [dbo].[Hang] ([mahang], [tenhang], [hinh]) VALUES (3, N'LENOVO', N'lenovo.png')
SET IDENTITY_INSERT [dbo].[Hang] OFF
GO
SET IDENTITY_INSERT [dbo].[Laptop] ON 

SET IDENTITY_INSERT [dbo].[Laptop] OFF
GO
SET IDENTITY_INSERT [dbo].[LienHe] ON 

INSERT [dbo].[LienHe] ([malienhe], [hoten], [email], [dienthoai], [website], [noidung], [trangthai]) VALUES (1, N'Nguyễn Văn Huỳnh', N'huynh.it.24@gmail.com', N'0365204529', N'thaygiaox.vn', N'Em chào anh! Em muốn liên hệ đặt mua Laptop MSI cho anh ẹc!', 1)
INSERT [dbo].[LienHe] ([malienhe], [hoten], [email], [dienthoai], [website], [noidung], [trangthai]) VALUES (2, N'', N'', N'', N'', N'', 1)
INSERT [dbo].[LienHe] ([malienhe], [hoten], [email], [dienthoai], [website], [noidung], [trangthai]) VALUES (3, N'', N'', N'', N'', N'', 1)
SET IDENTITY_INSERT [dbo].[LienHe] OFF
GO
SET IDENTITY_INSERT [dbo].[MetaLaptop] ON 

INSERT [dbo].[MetaLaptop] ([mameta], [keymeta], [valuemeta], [malaptop]) VALUES (1, N'Xuất sứ', N'Trung Quốc', 1)
INSERT [dbo].[MetaLaptop] ([mameta], [keymeta], [valuemeta], [malaptop]) VALUES (2, N'Trọng lượng', N'1.766 kg', 1)
INSERT [dbo].[MetaLaptop] ([mameta], [keymeta], [valuemeta], [malaptop]) VALUES (3, N'Năm ra mắt', N'2020', 1)
SET IDENTITY_INSERT [dbo].[MetaLaptop] OFF
GO
SET IDENTITY_INSERT [dbo].[NhuCau] ON 

INSERT [dbo].[NhuCau] ([manhucau], [tennhucau]) VALUES (1, N'LAPTOP Gaming')
INSERT [dbo].[NhuCau] ([manhucau], [tennhucau]) VALUES (2, N'LAPTOP Văn phòng')
INSERT [dbo].[NhuCau] ([manhucau], [tennhucau]) VALUES (3, N'LAPTOP Doanh nhân')
SET IDENTITY_INSERT [dbo].[NhuCau] OFF
GO
SET IDENTITY_INSERT [dbo].[QuangCao] ON 

INSERT [dbo].[QuangCao] ([maqc], [tenqc], [tencongty], [hinhnen], [link], [ngaybatdau], [ngayhethan], [trangthai]) VALUES (1, N'Laptop DELL', N'DELL', N'banner-dell.jpg', N'https://dell.com/', CAST(N'2021-03-22T00:00:00' AS SmallDateTime), CAST(N'2021-03-22T00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[QuangCao] ([maqc], [tenqc], [tencongty], [hinhnen], [link], [ngaybatdau], [ngayhethan], [trangthai]) VALUES (2, N'Quảng cáo điện thoại ở mục tức', N'Cellphone', N'banner-cellphone.jpg', N'https://cellphones.com.vn/', CAST(N'2022-03-31T00:00:00' AS SmallDateTime), CAST(N'2022-04-10T00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[QuangCao] ([maqc], [tenqc], [tencongty], [hinhnen], [link], [ngaybatdau], [ngayhethan], [trangthai]) VALUES (3, N'Quảng cáo Tiki', N'Tiki', N'quang-cao-side-tiki.png', N'https://tiki.vn/', CAST(N'2022-03-31T00:00:00' AS SmallDateTime), CAST(N'2022-04-30T00:00:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[QuangCao] OFF
GO
SET IDENTITY_INSERT [dbo].[TinTuc] ON 

SET IDENTITY_INSERT [dbo].[TinTuc] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/15/2025 06:22:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/15/2025 06:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/15/2025 06:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 10/15/2025 06:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 10/15/2025 06:22:26 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/15/2025 06:22:26 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  CONSTRAINT [DF__AspNetUse__hoten__19DFD96B]  DEFAULT ('') FOR [hoten]
GO
ALTER TABLE [dbo].[TinTuc] ADD  CONSTRAINT [DF_TinTuc_luotxem]  DEFAULT ((0)) FOR [luotxem]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[BinhLuan]  WITH CHECK ADD  CONSTRAINT [FK_BinhLuan_TinTuc] FOREIGN KEY([matin])
REFERENCES [dbo].[TinTuc] ([matin])
GO
ALTER TABLE [dbo].[BinhLuan] CHECK CONSTRAINT [FK_BinhLuan_TinTuc]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_DonHang] FOREIGN KEY([madon])
REFERENCES [dbo].[DonHang] ([madon])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_DonHang]
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDonHang_Laptop] FOREIGN KEY([malaptop])
REFERENCES [dbo].[Laptop] ([malaptop])
GO
ALTER TABLE [dbo].[ChiTietDonHang] CHECK CONSTRAINT [FK_ChiTietDonHang_Laptop]
GO
ALTER TABLE [dbo].[DanhGia]  WITH CHECK ADD  CONSTRAINT [FK_DanhGia_Laptop] FOREIGN KEY([malaptop])
REFERENCES [dbo].[Laptop] ([malaptop])
GO
ALTER TABLE [dbo].[DanhGia] CHECK CONSTRAINT [FK_DanhGia_Laptop]
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_AspNetUsers] FOREIGN KEY([makh])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_AspNetUsers]
GO
ALTER TABLE [dbo].[Laptop]  WITH CHECK ADD  CONSTRAINT [FK_Laptop_Hang] FOREIGN KEY([mahang])
REFERENCES [dbo].[Hang] ([mahang])
GO
ALTER TABLE [dbo].[Laptop] CHECK CONSTRAINT [FK_Laptop_Hang]
GO
ALTER TABLE [dbo].[Laptop]  WITH CHECK ADD  CONSTRAINT [FK_Laptop_NhuCau] FOREIGN KEY([manhucau])
REFERENCES [dbo].[NhuCau] ([manhucau])
GO
ALTER TABLE [dbo].[Laptop] CHECK CONSTRAINT [FK_Laptop_NhuCau]
GO
ALTER TABLE [dbo].[MetaLaptop]  WITH CHECK ADD  CONSTRAINT [FK_MetaLaptop_Laptop] FOREIGN KEY([malaptop])
REFERENCES [dbo].[Laptop] ([malaptop])
GO
ALTER TABLE [dbo].[MetaLaptop] CHECK CONSTRAINT [FK_MetaLaptop_Laptop]
GO
ALTER TABLE [dbo].[TinTuc]  WITH CHECK ADD  CONSTRAINT [FK_TinTuc_ChuDe] FOREIGN KEY([machude])
REFERENCES [dbo].[ChuDe] ([machude])
GO
ALTER TABLE [dbo].[TinTuc] CHECK CONSTRAINT [FK_TinTuc_ChuDe]
GO
USE [master]
GO
